.tab-header {
	display: flex;
	align-items: center;
}

.tab-title {
	margin-right: 0.1rem;
	cursor: pointer;
	background-color: #337ab7;
	color: white;
	border: 1px solid black;
}

.tab-title button {
	color: white;
	background-color: transparent;
	border: none;
}

.tab-title.is-active {
	background-color: black;
}

.tab-title .tab-title-name {
	padding: 0.3rem 1.5rem 0.3rem 0.5rem;
}

.tab-title-container {
	display: flex;
	align-items: center;
}

.tab-content {
	padding: 5rem;
	border: 1px solid black;
}
