<ng-container *ngIf="tabs.length > 0">
	<div class="tab-header">
		<ng-container *ngFor="let tab of tabs; let i = index">
			<div
				class="tab-title"
				[ngClass]="{ 'is-active': i === currentIndex }"
			>
				<div class="tab-title-container">
					<div class="tab-title-name" (click)="currentIndex = i">
						{{ tab.title }}
					</div>
					<button (click)="close(tab, i)">X</button>
				</div>
			</div>
		</ng-container>
	</div>
	<div class="tab-content">
		<ng-container *ngFor="let tab of tabs; let i = index">
			<ng-container *ngIf="i === currentIndex">
				<ng-container
					*ngTemplateOutlet="
						tab.template;
						context: { $implicit: tab }
					"
				></ng-container>
			</ng-container>
		</ng-container>
	</div>
</ng-container>
