<dynamic-tabs>
	<ng-container
		*ngFor="let location of locationsData$ | async; let i = index"
	>
		<dynamic-tab
			[title]="location.title"
			(onClose)="locationService.removeLocation(i)"
		>
			<ng-template let-tab="location">
				<div class="flex">
					<ng-container *ngIf="location.data; else errorTemplate">
						<div>
							<h4>
								Current conditions:
								{{ location.data.weather[0].main }}
							</h4>
							<h4>Temperatures today:</h4>
							<p>
								Current
								{{ location.data.main.temp | number : '.0-0' }}
								- Max
								{{
									location.data.main.temp_max
										| number : '.0-0'
								}}
								- Min
								{{
									location.data.main.temp_min
										| number : '.0-0'
								}}
							</p>
							<p>
								<a
									[routerLink]="[
										'/forecast',
										location.zipcode
									]"
									>Show 5-day forecast for
									{{ location.data.name }}</a
								>
							</p>
						</div>
						<div>
							<img
								[src]="
									weatherService.getWeatherIcon(
										location.data.weather[0].id
									)
								"
							/>
						</div>
					</ng-container>
					<ng-template #errorTemplate>
						<h4>{{ location.errorMessage }}</h4>
					</ng-template>
				</div>
			</ng-template>
		</dynamic-tab>
	</ng-container>
</dynamic-tabs>
